irl:
    min_speed: 1.0            #filter out datapoints in this dataset with future traj at less than this average speed
    max_ds: 2.0               #max displacement bet. frames, over which is considered a pose jump. (heuristically, max speed=15m/s * 0.1s/dpt)
    sample_every: 20          #downsample evert n-th frame
    distance_to_sample: 50.0  #(optional) arg for distance-based samples instead of time. produce an additional traj output that is this many m of future traj

common:
    root_dir: $TARTANDRIVER_DATA_DIR/2025_irl_kitti/gascola
    device: cuda
    use_multiprocessing: true

datatypes:
    bev_data:
        dtype: BEVGrid
        dir: bev_map_reduce
        
        args: {}

    coord_voxel_data:
        dtype: VoxelGrid
        dir: coord_voxel_map

        args:
            subtract_curr_height: false

    odometry:
        dtype: OdomRBState
        dir: odometry
        temporal_sample: [0, 76]

        args: {}

    steer_angle:
        dtype: Float32
        dir: steer_angle
        temporal_sample: [0, 76]

        args: {}

    feature_image:
        dtype: FeatureImage
        dir: radio3_siglip2_feature_image_full

        args: {}

    feature_image_intrinsics:
        dtype: Intrinsics
        dir: feature_image_intrinsics

        args: {}

    image:
        dtype: Image
        dir: image

        args: {}

    image_intrinsics:
        dtype: Intrinsics
        dir: image_intrinsics

        args: {}

transforms:
    tf_odom_to_cam:
        src_data: image
        src_frame: sensor_init
        dst_frame: multisense/left_camera_optical_frame