<?xml version="1.0"?>

<launch>
    <!-- File management -->
	<arg name="model_fp" default="models/baseline.pt"/>
    <arg name="robot" default="wanda"/>

	<node pkg="maxent_irl_maps" type="gridmap_to_costmap_node.py" name="maxent_irl_node" output="screen"> 
        <param name="model_fp" value="$(dirname)/$(arg model_fp)"/>
	    <param name="gridmap_topic" value="/wanda/localmapping_lidar_node/local_gridmap"/>
        <param name="costmap_topic" value="$(arg robot)/local_costmap"/>
        <param name="odom_topic" value="$(arg robot)/odom"/>
	</node>

</launch>
